<!DOCTYPE html>
<html ng-app="donealoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title color="#00ADD7">Donealo</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="">

    <section id="homePage">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img class="logo" src="img/logo.png" alt="">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#"><font color="#00ADD7">Inicio</font></a></li>
              <li><a href="#"><font color="#00ADD7">Campaña</font></a></li>
              <li><a href="#"><font color="#00ADD7">Organizaciones</font></a></li>
            </ul>
<!--             <form class="navbar-form navbar-right">
              <button type="submit" data-toggle="modal" class="btn btn-create-campaign" data-target="#createCampaign" class="btn donateIcons" src="" alt="">Crear Campaña</button>
              <div class="form-group">
            </form> -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="campaignProgress">
        <center>
        <h1 class=" campaignTitle"><font color="#00ADD7">Dona por una causa</font></h1>
        <!-- <img class="progressBar" src="img/campaignProgressBar.png" alt=""> -->
      </center>
      </div>


    </section>

    <section id="campaignBody">

      <div class="col-md-8 campaignBodyDesc">
        <img src="img/15k-photo.png" class="campaignPhoto" alt="">

        <h2>Descripción de la Campaña</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

      </div>

      <div class="col-md-4 campaignSideBar">
        <center>
          <!-- <div class="col-md-12">
            <button type="button" class="btn btn-donate" data-toggle="modal" data-target="#donateModal">Dona Dinero</button>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-donate" data-toggle="modal" data-target="#giveModal">Dona Cosas</button>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-donate" data-toggle="modal" data-target="#timeModal">Dona Tiempo</button>
          </div> -->

          <h3>Escoge el tipo de donación</h3>
          <div class="row">
            <div class="col-xs-4">
              <img type="button" data-toggle="modal" data-target="#donateModal" class="btn donateIcons" src="img/money-icon.png" alt="">
              <h5>Monetario</h5>
            </div>
            <div class="col-xs-4">
              <img type="button" data-toggle="modal" data-target="#giveModal" class="btn donateIcons" src="img/give-icon.png" alt="">
              <h5>Artículos</h5>
            </div>
            <div class="col-xs-4">
              <img type="button" data-toggle="modal" data-target="#timeModal" class="btn donateIcons" src="img/time-icon.png" alt="">
              <h5>Tiempo</h5>
            </div>
          </div>

      </center>
      </div>

    </section>

    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="col-md-12" id="donationForm">
              <h3 class="donateModal-headers">Haz una donación para</h3>
              <h2 class="donateModal-headers">Puerto Rico Sunshine 15K</h2>
              <form action="form">
                <div class="col-md-12">
                  <label>Cantidad</label><br>
                  <input type="text" name="cantidad" ng-model="donation.quantity">
                </div>
                <div class="col-md-6">
                  <label>First Name</label><br>
                  <input type="text" name="firstname" ng-model="donation.firstname">
                </div>
                <div class="col-md-6">
                  <label>Last Name</label><br>
                  <input type="text" name="lastname" ng-model="donation.lastname">
                </div>
                <div class="col-md-8">
                  <label>Telephone</label><br>
                  <input type="text" name="telephone" ng-model="donation.telephone">
                </div>
                <div class="col-md-8">
                  <label>Email</label><br>
                  <input type="text" name="email" ng-model="donation.email">
                </div>
                <!-- <input type="submit" value="Submit"> -->
              </form>
            </section>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
    </div>
  </div>


  <!-- Give Modal -->
  <div class="modal fade" id="giveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <section class="col-md-12" id="giveForm">
            <h3 class="donateModal-headers">Haz una donación para</h3>
            <h2 class="donateModal-headers">Puerto Rico Sunshine 15K</h2>
            <form action="form">
              <div class="col-md-12">
                <label>Cantidad</label><br>
                <input type="text" name="cantidad" ng-model="donation.quantity">
              </div>
              <div class="col-md-6">
                <label>First Name</label><br>
                <input type="text" name="firstname" ng-model="donation.firstname">
              </div>
              <div class="col-md-6">
                <label>Last Name</label><br>
                <input type="text" name="lastname" ng-model="donation.lastname">
              </div>
              <div class="col-md-8">
                <label>Telephone</label><br>
                <input type="text" name="telephone" ng-model="donation.telephone">
              </div>
              <div class="col-md-8">
                <label>Email</label><br>
                <input type="text" name="email" ng-model="donation.email">
              </div>
              <!-- <input type="submit" value="Submit"> -->
            </form>
          </section>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
  </div>
</div>


<!-- Time Modal -->
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <section class="col-md-12" id="timeForm">
          <h3 class="donateModal-headers">Haz una donación para</h3>
          <h2 class="donateModal-headers">Puerto Rico Sunshine 15K</h2>
          <form action="form">
            <div class="col-md-12">
              <label>Cantidad</label><br>
              <input type="text" name="cantidad" ng-model="donation.quantity">
            </div>
            <div class="col-md-6">
              <label>First Name</label><br>
              <input type="text" name="firstname" ng-model="donation.firstname">
            </div>
            <div class="col-md-6">
              <label>Last Name</label><br>
              <input type="text" name="lastname" ng-model="donation.lastname">
            </div>
            <div class="col-md-8">
              <label>Telephone</label><br>
              <input type="text" name="telephone" ng-model="donation.telephone">
            </div>
            <div class="col-md-8">
              <label>Email</label><br>
              <input type="text" name="email" ng-model="donation.email">
            </div>
            <!-- <input type="submit" value="Submit"> -->
          </form>
        </section>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
  </div>
</div>
</div>


<!-- Create campaign -->
  <div class="modal fade" id="createCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <section class="col-md-12" id="giveForm">
            <h3 class="donateModal-headers">Crea una campaña</h3>
            <!-- <h2 class="donateModal-headers"></h2> -->
            <form action="form">
              <div class="col-md-20">
                <label>Nombre de la campaña</label><br>
                <input type="" name="campaign" ng-model="">
              </div>
              <div class="col-md-20">
                <label>Meta de la campaña</label><br>
                <input type="text" name="goal" ng-model="">
              </div>
<!--               <div class="col-md-6">
                <label>Last Name</label><br>
                <input type="text" name="lastname" ng-model="donation.lastname">
              </div> -->
              <div class="col-md-20">
                <label>Fecha del evento</label><br>
                <input type="text" name="date" ng-model="">
              </div>
              <div class="col-md-20">
                <label>Fecha que culmina la campaña</label><br>
                <input type="text" name= ng-model="">
              </div>
              <!-- <input type="submit" value="Submit"> -->
            </form>
          </section>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
  </div>
</div>

    <section class="col-md-12" id="donationForm">

    <section id="donationForm">
      <h1>Donación</h1>
      <!-- <form action="../api/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Q2JuGCU5n3qMIbrPpFEp1yK7"
          data-amount="999"
          data-name="Demo Site"
          data-description="Widget"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form> -->

      <form action="form">
        <div class="col-md-12">
          <label>Cantidad</label>
          <input type="text" name="cantidad" ng-model="donation.quantity">
        </div>
        <div class="col-md-6">
          <label>First Name</label>
          <input type="text" name="firstname" ng-model="donation.firstname">
        </div>
        <div class="col-md-6">
          <label>Last Name</label>
          <input type="text" name="lastname" ng-model="donation.lastname">
        </div>
        <div class="col-md-8">
          <label>Telephone</label>
          <input type="text" name="telephone" ng-model="donation.telephone">
        </div>
        <div class="col-md-8">
          <label>Email</label>
          <input type="text" name="email" ng-model="donation.email">
        </div>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Q2JuGCU5n3qMIbrPpFEp1yK7">
        </script>
        <!-- <input type="submit" value="Submit"> -->
      </form>
    </section> 


    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="js/app.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
